
.content {
    grid-area: content;
    background-color: cornflowerblue;
  }

.input {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    display: grid;
    grid-template-columns: 10fr 2fr;
}