.dialogsPage {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.cardMessage {
  background-color: rgb(230, 230, 230);
  height: 93vh;
  position: relative;
}

.dialogUser {
  position: relative;
  background-color: rgb(230, 230, 230);
  &:hover {
    background-color: rgb(167, 167, 167);
  }
  &.active {
    background-color: rgb(167, 167, 167);
  }
  & img {
    margin-inline-start: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
  }
  & a {
    color: black;
    text-decoration: none;
    min-width: 220px;
    &.activeName {
      color: gold;
      text-decoration: none;
      background: rgb(167, 167, 167);
    }
  }
}

.message {
  display: flow-root;
  &_card {
    cursor: pointer;
    margin: 1px 20% 1px 20%;
    background-color: rgb(230, 230, 230);
    max-width: 80%;
    padding: 5px 10px 5px 10px;
    &_select {
      background-color: rgb(76, 236, 47);
    }
  }
  &_delete {
    color: red;
    font-size: 20px;
    float: right;
    padding: 3px 0 3px 5px;
  }
  &_left {
    float: left;
  }
  &_right {
    float: right;
  }
  &_data_right {
    font-size: 11px;
    text-align: right;
  }
  &_data_left {
    font-size: 11px;
    text-align: left;
  }
  &_viewed {
    color: red;
    font-size: 13px;
    text-align: right;
  }
}

.input {
  position: absolute;
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-column-gap: 5px;
  bottom: 0;
  padding: 0 10px 5px 10px;
  width: 100%;
  & textarea {
    resize: none;
    width: 100%;
    height: 43px;
    background: #f6f6f6;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 4px;
  }
  & button {
    float: right;
    font-size: 17px;
    height: 43px;
  }
}
