.nav {
    grid-area: nav;
    background-color: rgb(37, 4, 255); 
    margin-block-start: 54px;
    padding-inline-start: 10px;
    padding-block-start: 10px;
    height: 100%;
    width: 19.2%;
    position: fixed;
  }

  .item a {
    position: relative;
    display: inline-block;
    width: 95%;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em rgb(0, 2, 136);
    background: linear-gradient(rgb(117, 117, 251), rgb(69, 56, 244) 48%, rgb(2, 6, 234) 52%, rgb(37, 23, 240));
    margin: 2px
  }

  .item a.active {
    color: rgb(8, 172, 2);
    text-decoration: none;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }

  .setting {
    margin-top: 2em
  }
