.global {
  width: 100%;
}

.prevBtn {
  margin-bottom: 7px;
  width: 100%;
  border: 1px solid black
}

.displayNone {
  display: none;
}

.inputGroup {
  position: fixed;
  width: 60%;
  z-index: 100
}