.profileInfo {
  &Item {
    padding: 10px;
  }

  &Avatar {
    width: 250px;
    height: 250px;
  }

  &Contact {
    padding-left: 10px;
  }
}

.profilePost {
  &Item img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 10px;
  }

  &Likes {
    padding: 10px;
  }
}

.myPosts{
    &Content {
        grid-area: content;
      }
    
    &Input {
        padding-inline-start: 10px;
        padding-inline-end: 10px;
        display: grid;
        grid-template-columns: 10fr 2fr;
    }
}
